.padding-8 {
    padding: 8px !important;
}

.padding-16 {
    padding: 16px !important;
}

.padding-24 {
    padding: 24px !important;
}

.padding-32 {
    padding: 32px !important;
}

.padding-b8 {
    padding-bottom: 8px !important;
}

.padding-b16 {
    padding-bottom: 16px !important;
}

.padding-b24 {
    padding-bottom: 24px !important;
}

.padding-b32 {
    padding-bottom: 32px !important;
}

.padding-l8 {
    padding-left: 8px !important;
}

.padding-l16 {
    padding-left: 16px !important;
}

.padding-l24 {
    padding-left: 24px !important;
}

.padding-l32 {
    padding-left: 32px !important;
}

.padding-r8 {
    padding-right: 8px !important;
}

.padding-r16 {
    padding-right: 16px !important;
}

.padding-r24 {
    padding-right: 24px !important;
}

.padding-r32 {
    padding-right: 32px !important;
}

.padding-t8 {
    padding-top: 8px !important;
}

.padding-t16 {
    padding-top: 16px !important;
}

.padding-t24 {
    padding-top: 24px !important;
}

.padding-t32 {
    padding-top: 32px !important;
}