.loading {
  width: 360px;
  position: absolute;
  background-color: #004280;
  height: 72px;
  top: 50%;
  left: 50%;
  margin-top: -52px;
  margin-left: -196px;
  border-radius: 4px;
  padding: 16px;
  font-size: 18px;
  color: white;
}

.message-loading {
  float: right;
  padding: 8px;
  vertical-align: middle;
}

.loading-icon {
  margin: 8px;
  width: 62px;
  height: 62px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.wait-loading {
  font-size: 12px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
