<md-stepper id="stepper-subject"
            md-vertical="false"
            md-linear="true"
            md-alternative="true">
    <md-step md-label="Datos de la materia">
        <form name="stepBody1">
            <md-step-body>
                <md-content>
                    <subject-info subject="subject"></subject-info>
                </md-content>
            </md-step-body>
            <md-step-actions>
                <md-content layout="row" layout-align="center">
                    <md-button class="md-primary md-raised" ng-click="add()" ng-disabled="stepBody1.$invalid">
                        Registrar
                    </md-button>
                    <span flex="10"></span>
                    <md-button class="md-primary md-raised" ng-click="cancel()">Cancelar</md-button>
                </md-content>
            </md-step-actions>
        </form>
    </md-step>
</md-stepper>