<md-card class="card-size">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline"> {{gestion.code}}</span>
            <span class="md-subhead"> Gestion academica</span>
        </md-card-title-text>

        <md-card-actions layout="column">

            <md-button class="md-icon-button" aria-label="Favorite" ng-click="edit(gestion)">
                <md-tooltip>Editar</md-tooltip>
                <md-icon md-svg-icon="../../assets/img/ic_mode_edit_24px.svg"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="Favorite" ng-click="delete(gestion._id)">
                <md-tooltip>Eliminar</md-tooltip>
                <md-icon md-svg-icon="../../assets/img/ic_clear_24px.svg"></md-icon>
            </md-button>

        </md-card-actions>
    </md-card-title>
    <md-card-content>
        <div layout="row">
            <p>
                Gestion:&nbsp<br>
                Fecha de inicio:&nbsp<br>
                Fecha de finalizacion: <br>
            </p>
            <p>
                {{gestion.period}}<br>
                {{gestion.start | date:"MM/dd/yyyy"}}<br>
                {{gestion.end | date:"MM/dd/yyyy"}}
            </p>
        </div>
    </md-card-content>
</md-card>
