<md-content class="layout-fill">
    <md-toolbar class="tool-bar-doc md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-raised md-primary"
                       ng-click="AuthoritieInicioController.showForm()">
                <md-tooltip>Registrar authoritie</md-tooltip>
                <md-icon md-svg-src="../../assets/img/ic_person_add_48px.svg"></md-icon>
                Registrar
            </md-button>
        </div>
    </md-toolbar>

    <div layout="row" layout-wrap>
        <authoritie-card ng-repeat="p in AuthoritieInicioController.authorities" person="p"></authoritie-card>
    </div>

</md-content>